<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8"/>
        <title>全球科技人才跟踪系统</title>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../static/css/style.css" />


    </head>

    <body>
        <div class="header">
            <div class="container">
                <div class="header-nav" >
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header" >
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="logo">
                                <img src="../static/images/logo.ico" class="img-rounded" alt="Responsive image" />
                                <a class="navbar-brand" href="index.html" >全球科技人才跟踪系统</a>
                            </div>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav cl-effect-14">
                                <li>
                                    <form class="form-inline "  >
                                        <div class="form-group" id="normal_search" >
                                            <input type="text" class="form-control" placeholder="无论你想到什么" style="width: 380px;margin:30px 0;" />
                                        </div>
                                        <div class="form-group" id="advanced_search" style="width: 380px;display: none;">
                                            <div class="row" style="margin:30px 0;">
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" style="width: 120px;" placeholder="专业领域" />

                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" style="width: 120px;" placeholder="姓名" />
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" style="width: 120px;" placeholder="地域" />
                                                </div>
                                            </div>


                                        </div>
                                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                                        <button id="switch_search" class="btn btn-primary" style="margin-right: 40px;"><i class="glyphicon glyphicon-retweet"></i></button>
                                    </form>
                                </li>
                                    <li><a href="/login" class="active">登录</a></li>
                                    <li><a href="/register">注册</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
        </div>


        <div class="banner-bottom">
            <div class="container">
                <div class="wmuSlider example1" style="height: 361px;">
                    <div class="wmuSliderWrapper">
                        <article style="position: relative; width: 100%; opacity: 1;">
                            <div class="banner-wrap">
                                <div class="banner-bottom-info">
                                    <h3>一个以人才为中心的搜索平台，无论你想到什么</h3>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                        sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </article>
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-wrap">
                                <div class="banner-bottom-info">
                                    <h3>Pariatur esse quam nihil vel illum voluptas nulla pariatur</h3>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                        sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </article>
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-wrap">
                                <div class="banner-bottom-info">
                                    <h3>Occaecat esse quam nihil vel voluptas nulla pariatur</h3>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                        sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <ul class="wmuSliderPagination">
                        <li>
                            <a href="#" class="wmuActive">0</a>
                        </li>
                        <li>
                            <a href="#" class="">1</a>
                        </li>
                        <li>
                            <a href="#" class="">2</a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>


        <div class="testimonials">
            <div class="container">
                    <a>2017最具影响力专家</a>
                    <small>
                        (<a href=" ">计算机领域</a>)
                    </small>
                <div class="testimonials-grids">
                    <div class="col-md-4 testimonials-grid">
                        <div class="col-xs-4 testimonials-grid-left">
                            <img src="images/li.png" alt=" " class="img-responsive" />
                        </div>
                        <div class="col-xs-8 testimonials-grid-right">
                            <div class="testimonials-grid-right-p">
                                <p>南京理工大学教授，博士生导师，软件工程系主任，江苏省社会公共安全重点实验室副主任<span>李千目</span></p>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-4 testimonials-grid">
                        <div class="col-xs-4 testimonials-grid-left">
                            <img src="images/yang.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="col-xs-8 testimonials-grid-right">
                            <div class="testimonials-grid-right-p">
                                <p>南京理工大学教授，博士生导师，计算机科学院副院长，从事模式识别理论与应用方面的研究<span>杨健</span></p>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-4 testimonials-grid">
                        <div class="col-xs-4 testimonials-grid-left">
                            <img src="images/zhang.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="col-xs-8 testimonials-grid-right">
                            <div class="testimonials-grid-right-p">
                                <p>南京理工大学教授, 博士生导师, 江苏省计算机学会常务理事, 从事信息安全理论与技术研究
                                    <span>张宏</span></p>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>

        <script src="../static/js/jquery-1.11.1.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/jquery.wmuSlider.js"></script>

        <script>

            $('.example1').wmuSlider();

            $('span').click(function () {
                $(window.location).prop('href','/expert/detail');
            })

            $('#switch_search').click(function (e) {
                e.preventDefault()
                $('#advanced_search').toggle()
                $('#normal_search').toggle()
            })
        </script>

    </body>
</html>

