<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html" />
    <title>全球科技人才跟踪系统</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/pagination.css" />
<style>
    #addForm input[type="submit"],#modifyForm input[type="submit"]{
        height: 28px;
        line-height: 28px;
        margin: 5px 5px 0;
        padding: 0 15px;
        color: #fff;
        border-radius: 2px;
        font-weight: 400;
        background-color: #47d1d1;
        border:1px solid  #47d1d1;
        text-decoration: none;
        font-size: 16px;
        float: right;
    }
</style>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="header-nav">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <img src="../static/images/logo.ico" class="img-rounded" alt="Responsive image" />
                        <a class="navbar-brand" href="../templates/index.html">全球科技人才跟踪系统</a>
                    </div>
                </div>
                <div class="personal-info">
                    欢迎 【<a class="username" id="username" style="color: #ff0000;text-decoration: underline"></a>】 管理员
                    <button type="button" class="btn btn-primary" onclick="logout()" style="margin-left: 20px;">注销</button>
                </div>

            </nav>
        </div>

    </div>
</div>
<div class="container" style="padding: 0 20px;">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-2" style="height: 100%;border-right: 1px solid #eeeeee;padding-right: 40px;">
            <ul class="nav nav-pills nav-stacked">
                <li class="active" ><a href="#show" data-toggle="tab">显示用户</a></li>
            </ul>
        </div>

        <div class="col-md-10">
            <div class="tab-content">

                <div class="tab-pane active" id="show">
                    <div>
                        <div class="form-inline">
                            <div class="form-group" style="width:90%;">
                                <div class="row" style="margin:25px 0;">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-default" id="deleteUser">删除用户</button>
                                        <button type="button" class="btn btn-default" id="modifyUser">修改用户</button>
                                        <button type="button" class="btn btn-default" id="addUser">新增用户</button>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" id="searchContent" class="form-control" style="width: 80%;margin-top: -1px;" placeholder="用户名或邮箱" />
                                        <button class="btn btn-default" id="searchBtn" style="display: inline-block;margin-left: 5px;"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bootstrap-table">
                        <div class="fixed-table-container" style="padding-bottom: 0px;">
                            <div class="fixed-table-body">
                                <div class="fixed-table-loading" style="top: 42px; display: none;">加载中，请稍等...</div>
                                <table id="table" class="table table-hover" data-toggle="table" data-pagination="true" data-side-pagination="server" data-url="/examples/bootstrap_table/data" data-response-handler="responseHandler">
                                    <thead>
                                    <tr>
                                        <th class="bs-checkbox" style="width: 36px; " data-field="state">
                                            <div class="th-inner ">
                                                <input name="btSelectAll" id="show-selectAll" type="checkbox" />
                                            </div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="" data-field="id">
                                            <div class="th-inner ">用户ID</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="" data-field="name">
                                            <div class="th-inner ">用户名</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="" data-field="email">
                                            <div class="th-inner ">邮箱</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="show-tbody">

                                    </tbody>
                                </table>
                                <div id="divpagelist"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="../static/js/jquery-1.11.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/echarts.min.js"></script>
<script src="../static/js/commen.js"></script>
<script src="../static/js/layer/layer.js"></script>
<script src="../static/js/jquery.validate.js"></script>
<script src="../static/js/messages_zh.js"></script>
<script>

    function logout() {

        $.ajax({
            type: 'GET',
            url: "/api/logout",
            dataType: "json",
            success: function(res){
                if(res.code == 1){
                    layer.msg('注销成功',{ time: 1000});
                    window.location.href='../templates/index.html';
                }
                else{
                    layer.msg('注销失败',{ time: 1000});
                }
            }

        })


    }

    //获取url传的参数
    var page = getUrlParam("page");
    if(page == "" || page ==null){
        page = 1;
    }

    $('document').ready(function(){
        var userName = getCookies("userName");
        if(userName != null){
            $("#username").text(userName);
        }else {
            //获取当前用户名
            $.ajax({
                type: 'GET',
                url: "/api/loginName",
                data: {} ,
                dataType: "json",
                success: function(res){
                    if(res.msg == "success"){
                        $("#username").text(res.data.username);
                    }
                }
            });
        }

        var searchContent = getUrlParam("searchContent");
        if(searchContent !=null){
            $("#searchContent").val(searchContent);
            if(searchContent.search("@") != -1 ){ //邮箱
                //获取搜索结果用户信息
                $.ajax({
                    type: 'GET',
                    url: "/api/admin",
                    data: {
                        page:page,
                        pageSize:10,
                        userEmail: searchContent,
                    } ,
                    dataType: "json",
                    success: function(res){
                        if(res.code == 1){
                            $(".show-tbody").empty();
                            var userList = res.data.list;
                            //循环为表格添加数据
                            $.each(userList,function(i,row){
                                $(".show-tbody").append(
                                    '<tr data-index="'+(i+1)+'">'+
                                    '<td  class="bs-checkbox">'+
                                    '<input name="showSelectItem" type="checkbox" value="'+ row.userId+'"/>'+
                                    '</td>'+
                                    '<td style="">'+ row.userId +'</td>'+
                                    '<td style="">'+ row.userName +'</td>'+
                                    '<td style="">'+ row.userEmail +'</td>'+
                                    '</tr>'
                                )
                            })
                            var pageHtml = page_list(res.data.pageSize ,res.data.pageNum , res.data.total,10,"manager",searchContent);
                            $(".page-list").empty();//先清空div
                            $('#divpagelist').after('<div class="page-list default">' + pageHtml + '</div>');
                        }
                    }
                });
            }else {
                //获取搜索结果用户信息
                $.ajax({
                    type: 'GET',
                    url: "/api/admin",
                    data: {
                        page:page,
                        pageSize:10,
                        userName: searchContent,
                    } ,
                    dataType: "json",
                    success: function(res){
                        if(res.code == 1){
                            var userList = res.data.list;
                            $(".show-tbody").empty();
                            //循环为表格添加数据
                            $.each(userList,function(i,row){
                                $(".show-tbody").append(
                                    '<tr data-index="'+(i+1)+'">'+
                                    '<td  class="bs-checkbox">'+
                                    '<input name="showSelectItem" type="checkbox" value="'+ row.userId+'"/>'+
                                    '</td>'+
                                    '<td style="">'+ row.userId +'</td>'+
                                    '<td style="">'+ row.userName +'</td>'+
                                    '<td style="">'+ row.userEmail +'</td>'+
                                    '</tr>'
                                )
                            })
                            var pageHtml = page_list(res.data.pageSize ,res.data.pageNum , res.data.total,10,"manager",searchContent);
                            $(".page-list").remove();//先清空div
                            $('#divpagelist').after('<div class="page-list default">' + pageHtml + '</div>');
                        }
                    }
                });
            }
        }else{
            //获取用户信息
            $.ajax({
                type: 'GET',
                url: "api/admin",
                data: {
                    page:page,
                    pageSize:10
                } ,
                dataType: "json",
                success: function(res){
                    if(res.code == 1){
                        var userList = res.data.list;
                        //循环为表格添加数据
                        $.each(userList,function(i,row){
                            $(".show-tbody").append(
                                '<tr data-index="'+(i+1)+'">'+
                                '<td  class="bs-checkbox">'+
                                '<input name="showSelectItem" type="checkbox" value="'+ row.userId+'"/>'+
                                '</td>'+
                                '<td style="">'+ row.userId +'</td>'+
                                '<td style="">'+ row.userName +'</td>'+
                                '<td style="">'+ row.userEmail +'</td>'+
                                '</tr>'
                            )
                        })
                        var pageHtml = page_list(res.data.pageSize ,res.data.pageNum , res.data.total,10,"manager");
                        $("#page-list").remove();//先清空div
                        $('#divpagelist').after('<div class="page-list default">' + pageHtml + '</div>');
                    }
                }
            });
        }


         //全选设置
        $('#show-selectAll').click(function(){
            $('input[name="showSelectItem"]').prop("checked",this.checked);
            return true;
        });
        $(document).on('click','input[name="showSelectItem"]',function(){
            $('#show-selectAll').prop("checked",$('input[name="showSelectItem"]').length == $('input[name="showSelectItem"]:checked').length ? true : false);
        })

        //修改用户
        $("#modifyUser").click(function () {
            if($("#show input[name='showSelectItem']:checked").length==0){
                layer.msg('请选择至少一个用户',{ time: 1000});
                return;
            }
            if($("#show input[name='showSelectItem']:checked").length>1){
                layer.msg('一次只能修改一个用户',{ time: 1000});
                return;
            }
            var userId = $('[name="showSelectItem"]:checked').val();
            var url = "/api/admin/" + userId;
            $.ajax({
                type: 'GET',
                url: url,
                dataType: "json",
                success: function(res){
                    if(res.msg == "success" ){
                        layer.open({
                            title: '修改用户',
                            resize: false,
                            content: '<div >' +
                            '<form id="modifyForm" action="#"  class="fh5co-form animate-box fadeIn animated-fast" data-animate-effect="fadeIn" method="post">' +
                            '<div class="form-group">' +
                            '<label for="username">用户名</label>' +
                            '<input type="text" class="form-control" minlength="2" id="modifyUsername" name="modifyUsername" value="'+ res.data.userName +'" autocomplete="off" />' +
                            '<input type="hidden" id="modifyUserId" value="'+ res.data.userId +'"/>'+
                            '</div>' +
                            '<div class="form-group">' +
                            '<label for="email">邮箱</label>' +
                            '<input type="text" class="form-control" id="modifyEmail" name="modifyEmail" value="'+ res.data.userEmail +'" autocomplete="off" />' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<label for="radio" class="sr-only">是否推送</label>' +
                            '<input type="radio" name="modifyIspush" value="1" checked="checked"/> 推送 &nbsp;&nbsp;&nbsp;&nbsp;' +
                            '<input type="radio" name="modifyIspush" value="0"/> 不推送' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<label for="password" class="sr-only">密码</label>' +
                            '<input type="password" class="form-control" id="modifyPassword" name="modifyPassword" autocomplete="off" value="'+ res.data.password +'"/>' +
                            '</div>' +
                            '<input type="submit" id="modifyBtn" value="确认" />'+
                            '</form>' +
                            '</div>',
                            shadeClose: false,//设置点击弹出层外的地方关闭为false
                            btn: null,
                            success: function (layero, index) {
                                $("#modifyBtn").click(function () {
                                    //表单验证
                                    $('#modifyForm').validate({
                                        errorElement: 'span', //default input error message container
                                        errorClass: 'help-block', // default input error message class
                                        focusInvalid: false, // do not focus the last invalid input
                                        rules: {
                                            modifyUsername: {
                                                required: true
                                            },
                                            modifyEmail: {
                                                required: true,
                                                email: true,
                                            },
                                            modifyPassword: {
                                                required: true
                                            }
                                        },
                                        highlight: function(element) { // hightlight error inputs
                                            $(element)
                                                .closest('.form-group').addClass('has-error'); // set error class to the control group
                                        },

                                        success: function(label) {
                                            label.closest('.form-group').removeClass('has-error');
                                            label.remove();
                                        },
                                        //表单提交
                                        submitHandler: function(form) {
                                            var modifyUserId = $("#modifyUserId").val();
                                            var modifyUsername = $("#modifyUsername").val();
                                            var modifyEmail = $("#modifyEmail").val();
                                            var modifyIspush = $("input[name='modifyIspush']:checked").val();
                                            var modifyPassword = $("#modifyPassword").val();
                                            layer.close(index);
                                            $.ajax({
                                                type: 'PUT',
                                                url: "/api/admin/"+modifyUserId,
                                                data: {
                                                    userName:modifyUsername,
                                                    userEmail:modifyEmail,
                                                    isPush:modifyIspush,
                                                    password:modifyPassword
                                                } ,
                                                dataType: "json",
                                                success: function(res){
                                                    if(res.msg == "success"){
                                                        layer.msg("修改成功",{time:1000},function () {
                                                            window.location.href = "manager";
                                                        })
                                                    }else {
                                                        layer.msg(res.msg);
                                                    }
                                                }
                                            });
                                        }
                                    });
                                })
                            }
                        });
                    }else{
                        layer.msg(res.msg);
                    }
                }
            });


        })

        //删除用户操作
        $('#deleteUser').click(function(){
            if($("#show input[name='showSelectItem']:checked").length==0){
               layer.msg('请选择至少一个用户',{ time: 500});
               return;
            }
            var userId = "";
            $('[name="showSelectItem"]:checked').each(function(){
                userId += $(this).val()+"@";
            });
            var url = "/api/admin/" + userId.substring(0,userId.length-1);
            layer.confirm("确定要删除所选用户吗？","",function () {
                $.ajax({
                    type: 'DELETE',
                    url: url,
                    dataType: "json",
                    success: function(res){
                        if(res.msg == "success" ){
                            layer.msg("删除成功！",{ time: 500},function () {
                                window.location.href = "manager";
                            });
                        }else{
                            layer.msg(res.error);
                        }
                    }
                });
            });
        });

        //搜索
        $("#searchBtn").click(function () {
            var searchContent =$("#searchContent").val();
            if(searchContent == null){
                layer.msg("请输入搜索内容",{time:500});
                return;
            }
            if(searchContent.search("@") != -1 ){ //邮箱
                //获取搜索结果用户信息
                $.ajax({
                    type: 'GET',
                    url: "/api/admin",
                    data: {
                        page:1,
                        pageSize:10,
                        userEmail: searchContent,
                    } ,
                    dataType: "json",
                    success: function(res){
                        if(res.code == 1){
                            $(".show-tbody").empty();
                            var userList = res.data.list;
                            //循环为表格添加数据
                            $.each(userList,function(i,row){
                                $(".show-tbody").append(
                                    '<tr data-index="'+(i+1)+'">'+
                                    '<td  class="bs-checkbox">'+
                                    '<input name="showSelectItem" type="checkbox" value="'+ row.userId+'"/>'+
                                    '</td>'+
                                    '<td style="">'+ row.userId +'</td>'+
                                    '<td style="">'+ row.userName +'</td>'+
                                    '<td style="">'+ row.userEmail +'</td>'+
                                    '</tr>'
                                )
                            })
                            var pageHtml = page_list(res.data.pageSize ,res.data.pageNum , res.data.total,10,"manager",searchContent);
                            $(".page-list").empty();//先清空div
                            $('#divpagelist').after('<div class="page-list default">' + pageHtml + '</div>');
                        }
                    }
                });
            }else {
                //获取搜索结果用户信息
                $.ajax({
                    type: 'GET',
                    url: "/api/admin",
                    data: {
                        page:1,
                        pageSize:10,
                        userName: searchContent,
                    } ,
                    dataType: "json",
                    success: function(res){
                        if(res.code == 1){
                            var userList = res.data.list;
                            $(".show-tbody").empty();
                            //循环为表格添加数据
                            $.each(userList,function(i,row){
                                $(".show-tbody").append(
                                    '<tr data-index="'+(i+1)+'">'+
                                    '<td  class="bs-checkbox">'+
                                    '<input name="showSelectItem" type="checkbox" value="'+ row.userId+'"/>'+
                                    '</td>'+
                                    '<td style="">'+ row.userId +'</td>'+
                                    '<td style="">'+ row.userName +'</td>'+
                                    '<td style="">'+ row.userEmail +'</td>'+
                                    '</tr>'
                                )
                            })
                            var pageHtml = page_list(res.data.pageSize ,res.data.pageNum , res.data.total,10,"manager",searchContent);
                            $(".page-list").remove();//先清空div
                            $('#divpagelist').after('<div class="page-list default">' + pageHtml + '</div>');
                        }
                    }
                });
            }


        })

        //新增用户
        $("#addUser").click(function(){
            layer.open({
                title: '新增用户',
                resize: false,
                content: '<div >' +
                            '<form id="addForm" action="#"  class="fh5co-form animate-box fadeIn animated-fast" data-animate-effect="fadeIn" method="post">' +
                                '<div class="form-group">' +
                                    '<label for="username" class="sr-only">用户名</label>' +
                                    '<input type="text" class="form-control" minlength="2" id="addUsername" name="addUsername" placeholder="请输入用户名" autocomplete="off" />' +
                                '</div>' +
                                '<div class="form-group">' +
                                    '<label for="email" class="sr-only">邮箱</label>' +
                                    '<input type="text" class="form-control" id="addEmail" name="addEmail" placeholder="请输入邮箱" autocomplete="off" />' +
                                '</div>' +
                                '<div class="form-group">' +
                                    '<label for="radio" class="sr-only">是否推送</label>' +
                                    '<input type="radio" class="" name="addIspush" value="1" checked="checked"/> 推送 &nbsp;&nbsp;&nbsp;&nbsp;' +
                                    '<input type="radio" class="" name="addIspush" value="0"/> 不推送' +
                                '</div>' +
                                '<div class="form-group">' +
                                    '<label for="password" class="sr-only">密码</label>' +
                                    '<input type="password" class="form-control" id="addPassword" name="addPassword" placeholder="请输入密码" autocomplete="off" />' +
                                '</div>' +
                                '<input type="submit" id="addBtn" value="确认" />'+
                            '</form>' +
                '</div>',
                shadeClose: false,//设置点击弹出层外的地方关闭为false
                btn: null,
                success: function (layero, index) {
                    $("#addBtn").click(function () {
                        //表单验证
                        $('#addForm').validate({
                            errorElement: 'span', //default input error message container
                            errorClass: 'help-block', // default input error message class
                            focusInvalid: false, // do not focus the last invalid input
                            rules: {
                                addUsername: {
                                    required: true
                                },
                                addPassword: {
                                    required: true
                                },
                                addEmail: {
                                    required: true,
                                    email: true,
                                },
                            },
                            highlight: function(element) { // hightlight error inputs
                                $(element)
                                    .closest('.form-group').addClass('has-error'); // set error class to the control group
                            },

                            success: function(label) {
                                label.closest('.form-group').removeClass('has-error');
                                label.remove();
                            },
                            //表单提交
                            submitHandler: function(form) {
                                var addUsername = $("#addUsername").val();
                                var addEmail = $("#addEmail").val();
                                var addIspush = $("input[name='addIspush']:checked").val();
                                var addPassword = $("#addPassword").val();
                                layer.close(index);
                                $.post('/api/admin',{
                                    userName:addUsername,
                                    password:addPassword,
                                    userEmail:addEmail,
                                    isPush:addIspush
                                },function(res){

                                    if(res.msg == "success"){
                                        layer.msg("新增成功！",{time:1000},function () {
                                            window.location.href = "manager";
                                        });
                                    }
                                    else{
                                        //debugger
                                        $('.alert-danger', $('#addForm')).html(res.msg).show();
                                    }
                                });
                            }
                        });
                    })
                }
            });
        });


    });
    

</script>
</body>
</html>