<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8"/>
        <title>全球科技人才跟踪系统</title>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../static/css/style.css" />
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="header-nav">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="logo">
                                <img src="../static/images/logo.ico" class="img-rounded" alt="Responsive image" />
                                <a class="navbar-brand" href="index.html">全球科技人才跟踪系统</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container" style="padding: 0 20px;">
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-2" style="height: 100%;border-right: 1px solid #eeeeee;padding-right: 40px;">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active" ><a href="#show" data-toggle="tab">显示管理员</a></li>
                        <li><a href="#add" data-toggle="tab">增加管理员</a></li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <div class="tab-content">

                        <div class="tab-pane active" id="show">
                            <div>
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="row" style="margin:25px 0;">
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" style="width: 100px;" placeholder="用户ID" />
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" style="width: 100px;" placeholder="用户名" />
                                            </div>
                                        </div>


                                    </div>
                                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                                </form>
                            </div>
                            <div class="bootstrap-table">
                                <div class="fixed-table-toolbar"></div>
                                <div class="fixed-table-container" style="padding-bottom: 0px;">
                                    <div class="fixed-table-header" style="display: none;">
                                        <table></table>
                                    </div>
                                    <div class="fixed-table-body">
                                        <div class="fixed-table-loading" style="top: 42px; display: none;">加载中，请稍等...</div>
                                            <table id="table" class="table table-hover" data-toggle="table" data-pagination="true" data-side-pagination="server" data-url="/examples/bootstrap_table/data" data-response-handler="responseHandler">
                                            <thead>
                                            <tr>
                                                <th class="bs-checkbox" style="width: 36px; " data-field="state">
                                                    <div class="th-inner ">
                                                        <input name="btSelectAll" type="checkbox" />
                                                    </div>
                                                    <div class="fht-cell"></div>
                                                </th>
                                                <th style="" data-field="id">
                                                    <div class="th-inner ">用户ID</div>
                                                    <div class="fht-cell"></div>
                                                </th>
                                                <th style="" data-field="name">
                                                    <div class="th-inner ">用户名</div>
                                                    <div class="fht-cell"></div>
                                                </th>
                                                <th style="" data-field="password">
                                                    <div class="th-inner ">密码</div>
                                                    <div class="fht-cell"></div>
                                                </th>
                                                <th style="" data-field="email">
                                                    <div class="th-inner ">邮箱</div>
                                                    <div class="fht-cell"></div>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-index="0">
                                                <td  class="bs-checkbox">
                                                    <input data-index="0" name="btSelectItem" type="checkbox" /> >
                                                </td>
                                                <td style="">0001</td>
                                                <td style="">张三</td>
                                                <td style="">123</td>
                                                <td style="">111@qq.com</td>
                                            </tr>
                                            <tr data-index="1">
                                                <td  class="bs-checkbox">
                                                    <input data-index="1" name="btSelectItem" type="checkbox" />
                                                </td>
                                                <td style="">0002</td>
                                                <td style="">张三</td>
                                                <td style="">123</td>
                                                <td style="">111@qq.com</td>
                                            </tr>
                                            <tr data-index="2">
                                                <td  class="bs-checkbox">
                                                    <input data-index="2" name="btSelectItem" type="checkbox" />
                                                </td>
                                                <td style="">0003</td>
                                                <td style="">张三</td>
                                                <td style="">123</td>
                                                <td style="">111@qq.com</td>
                                            </tr>
                                            <tr data-index="2">
                                                <td  class="bs-checkbox">
                                                    <input data-index="2" name="btSelectItem" type="checkbox" />
                                                </td>
                                                <td style="">0004</td>
                                                <td style="">张三</td>
                                                <td style="">123</td>
                                                <td style="">111@qq.com</td>
                                            </tr>
                                            <tr data-index="3">
                                                <td  class="bs-checkbox">
                                                    <input data-index="3" name="btSelectItem" type="checkbox" />
                                                </td>
                                                <td style="">0005</td>
                                                <td style="">张三</td>
                                                <td style="">123</td>
                                                <td style="">111@qq.com</td>
                                            </tr>
                                            <tr data-index="4">
                                                <td  class="bs-checkbox">
                                                    <input data-index="4" name="btSelectItem" type="checkbox" />
                                                </td>
                                                <td style="">0006</td>
                                                <td style="">张三</td>
                                                <td style="">123</td>
                                                <td style="">111@qq.com</td>
                                            </tr>
                                            <tr data-index="5">
                                                <td  class="bs-checkbox">
                                                    <input data-index="5" name="btSelectItem" type="checkbox" />
                                                </td>
                                                <td style="">0007</td>
                                                <td style="">张三</td>
                                                <td style="">123</td>
                                                <td style="">111@qq.com</td>
                                            </tr>
                                            </tbody>
                                            </table>
                                    </div>
                                    <div class="fixed-table-footer" style="display: none;">
                                        <table>
                                            <tbody>
                                           <tr></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="fixed-table-pagination" style="display: block;">
                                    <div class="pull-left pagination-detail">
                                        <span class="pagination-info">每页显示</span>
                                        <span class="page-list">
                                            <span class="btn-group dropup">
                                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <span class="page-size">10</span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li class="active" role="menuitem">
                                                        <a herf="#">10</a>
                                                    </li>
                                                    <li class="" role="menuitem">
                                                        <a herf="#">25</a>
                                                    </li>
                                                    <li class="" role="menuitem">
                                                        <a herf="#">50</a>
                                                    </li>
                                                </ul>
                                            </span>
                                            条数据
                                        </span>
                                    </div>
                                    <div class="pull-right pagination">
                                        <ul class="pagination">`
                                            <li class="page-item page-pre">
                                                <a class="page-link" href="#">0</a>
                                            </li>
                                            <li class="page-item active">
                                                <a class="page-link" href="#">1</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">2</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">3</a>
                                            </li>
                                            <li class="page-item page-last-separator disabled">
                                                <a class="page-link" href="#">....</a>
                                            </li>
                                            <li class="page-item page-last">
                                                <a class="page-link" href="#">10</a>
                                            </li>
                                            <li class="page-item page-next">
                                                <a class="page-link" href="#">></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div><button type="submit" class="btn btn-default">删除管理员</button></div>

                        </div>

                        <div class="tab-pane" id="add">
                            <div>
                                <div class="form-group">

                                        <div class="col-md-2">
                                            <input type="text" class="form-control" style="width: 100px;" placeholder="用户ID" />
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" style="width: 100px;" placeholder="用户名" />
                                        </div>
                                        <div class="col-md-2">
                                        <button type="submit" class="btn btn-default">确认</button>
                                        </div>



                                </div>



                            </div>
                            <div>
                                 <table id="table1" class="table table-hover" data-toggle="table" data-pagination="true" data-side-pagination="server" data-url="/examples/bootstrap_table/data" data-response-handler="responseHandler">
                                        <thead>
                                        <tr>
                                            <th class="bs-checkbox" style="width: 36px; " data-field="state">
                                                <div class="th-inner ">
                                                    <input name="btSelectAll" type="checkbox" />
                                                </div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="" data-field="id">
                                                <div class="th-inner ">用户ID</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="" data-field="name">
                                                <div class="th-inner ">用户名</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="" data-field="password">
                                                <div class="th-inner ">密码</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="" data-field="email">
                                                <div class="th-inner ">邮箱</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-index="0">
                                            <td  class="bs-checkbox">
                                                <input data-index="0" name="btSelectItem" type="checkbox" />
                                            </td>
                                            <td style="">0001</td>
                                            <td style="">张三</td>
                                            <td style="">123</td>
                                            <td style="">111@qq.com</td>
                                        </tr>
                                        </tbody>
                                </table>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default">增加管理员</button>
                            </div>




                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script src="../static/js/jquery-1.11.1.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/echarts.min.js"></script>



    </body>
</html>