<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njust.dao.baseDao.ExpertMapper" >
  <resultMap id="BaseResultMap" type="com.njust.bean.baseBean.Expert" >
    <!--
      WARNING - @mbg.generated
    -->
    <constructor >
      <idArg column="expert_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="expert_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gender" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="contact" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="education" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="nation" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="political_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="birthday" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="expert_score" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="ico_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="field_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="introduce" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="homepage" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="country" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tag" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="h_index" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="g_index" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sociability" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="diversity" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="professional_title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="paper_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="patent_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="award_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="employer" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    expert_id, expert_name, gender, contact, email, education, nation, political_status, 
    birthday, expert_score, ico_name, field_id, introduce, homepage, country, tag, h_index, 
    g_index, sociability, diversity, professional_title, paper_num, patent_num, award_num, 
    employer
  </sql>
</mapper>