<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njust.dao.baseDao.ResFieldMapper" >
  <resultMap id="BaseResultMap" type="com.njust.bean.baseBean.ResField" >
    <constructor >
      <idArg column="res_field_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="result_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="field_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="res_field_relate" jdbcType="DOUBLE" javaType="java.lang.Double" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    res_field_id, result_id, field_id, res_field_relate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from res_field
    where res_field_id = #{resFieldId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from res_field
    where res_field_id = #{resFieldId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.njust.bean.baseBean.ResField" >
    insert into res_field (res_field_id, result_id, field_id, 
      res_field_relate)
    values (#{resFieldId,jdbcType=BIGINT}, #{resultId,jdbcType=BIGINT}, #{fieldId,jdbcType=INTEGER}, 
      #{resFieldRelate,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.njust.bean.baseBean.ResField" >
    insert into res_field
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resFieldId != null" >
        res_field_id,
      </if>
      <if test="resultId != null" >
        result_id,
      </if>
      <if test="fieldId != null" >
        field_id,
      </if>
      <if test="resFieldRelate != null" >
        res_field_relate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resFieldId != null" >
        #{resFieldId,jdbcType=BIGINT},
      </if>
      <if test="resultId != null" >
        #{resultId,jdbcType=BIGINT},
      </if>
      <if test="fieldId != null" >
        #{fieldId,jdbcType=INTEGER},
      </if>
      <if test="resFieldRelate != null" >
        #{resFieldRelate,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.njust.bean.baseBean.ResField" >
    update res_field
    <set >
      <if test="resultId != null" >
        result_id = #{resultId,jdbcType=BIGINT},
      </if>
      <if test="fieldId != null" >
        field_id = #{fieldId,jdbcType=INTEGER},
      </if>
      <if test="resFieldRelate != null" >
        res_field_relate = #{resFieldRelate,jdbcType=DOUBLE},
      </if>
    </set>
    where res_field_id = #{resFieldId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njust.bean.baseBean.ResField" >
    update res_field
    set result_id = #{resultId,jdbcType=BIGINT},
      field_id = #{fieldId,jdbcType=INTEGER},
      res_field_relate = #{resFieldRelate,jdbcType=DOUBLE}
    where res_field_id = #{resFieldId,jdbcType=BIGINT}
  </update>
</mapper>