<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njust.dao.baseDao.ResultMapper" >
  <resultMap id="BaseResultMap" type="com.njust.bean.baseBean.Result" >
    <constructor >
      <idArg column="result_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="result_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="result_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="result_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="result_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="cited_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="award" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="score" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pubilcation_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="author_ranking" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    result_id, result_name, result_desc, result_type, result_time, cited_num, award, 
    score, pubilcation_id, author_ranking
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from result
    where result_id = #{resultId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from result
    where result_id = #{resultId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.njust.bean.baseBean.Result" >
    insert into result (result_id, result_name, result_desc, 
      result_type, result_time, cited_num, 
      award, score, pubilcation_id, 
      author_ranking)
    values (#{resultId,jdbcType=BIGINT}, #{resultName,jdbcType=VARCHAR}, #{resultDesc,jdbcType=VARCHAR}, 
      #{resultType,jdbcType=INTEGER}, #{resultTime,jdbcType=TIMESTAMP}, #{citedNum,jdbcType=INTEGER}, 
      #{award,jdbcType=INTEGER}, #{score,jdbcType=VARCHAR}, #{pubilcationId,jdbcType=INTEGER}, 
      #{authorRanking,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.njust.bean.baseBean.Result" >
    insert into result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resultId != null" >
        result_id,
      </if>
      <if test="resultName != null" >
        result_name,
      </if>
      <if test="resultDesc != null" >
        result_desc,
      </if>
      <if test="resultType != null" >
        result_type,
      </if>
      <if test="resultTime != null" >
        result_time,
      </if>
      <if test="citedNum != null" >
        cited_num,
      </if>
      <if test="award != null" >
        award,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="pubilcationId != null" >
        pubilcation_id,
      </if>
      <if test="authorRanking != null" >
        author_ranking,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resultId != null" >
        #{resultId,jdbcType=BIGINT},
      </if>
      <if test="resultName != null" >
        #{resultName,jdbcType=VARCHAR},
      </if>
      <if test="resultDesc != null" >
        #{resultDesc,jdbcType=VARCHAR},
      </if>
      <if test="resultType != null" >
        #{resultType,jdbcType=INTEGER},
      </if>
      <if test="resultTime != null" >
        #{resultTime,jdbcType=TIMESTAMP},
      </if>
      <if test="citedNum != null" >
        #{citedNum,jdbcType=INTEGER},
      </if>
      <if test="award != null" >
        #{award,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=VARCHAR},
      </if>
      <if test="pubilcationId != null" >
        #{pubilcationId,jdbcType=INTEGER},
      </if>
      <if test="authorRanking != null" >
        #{authorRanking,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.njust.bean.baseBean.Result" >
    update result
    <set >
      <if test="resultName != null" >
        result_name = #{resultName,jdbcType=VARCHAR},
      </if>
      <if test="resultDesc != null" >
        result_desc = #{resultDesc,jdbcType=VARCHAR},
      </if>
      <if test="resultType != null" >
        result_type = #{resultType,jdbcType=INTEGER},
      </if>
      <if test="resultTime != null" >
        result_time = #{resultTime,jdbcType=TIMESTAMP},
      </if>
      <if test="citedNum != null" >
        cited_num = #{citedNum,jdbcType=INTEGER},
      </if>
      <if test="award != null" >
        award = #{award,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=VARCHAR},
      </if>
      <if test="pubilcationId != null" >
        pubilcation_id = #{pubilcationId,jdbcType=INTEGER},
      </if>
      <if test="authorRanking != null" >
        author_ranking = #{authorRanking,jdbcType=INTEGER},
      </if>
    </set>
    where result_id = #{resultId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njust.bean.baseBean.Result" >
    update result
    set result_name = #{resultName,jdbcType=VARCHAR},
      result_desc = #{resultDesc,jdbcType=VARCHAR},
      result_type = #{resultType,jdbcType=INTEGER},
      result_time = #{resultTime,jdbcType=TIMESTAMP},
      cited_num = #{citedNum,jdbcType=INTEGER},
      award = #{award,jdbcType=INTEGER},
      score = #{score,jdbcType=VARCHAR},
      pubilcation_id = #{pubilcationId,jdbcType=INTEGER},
      author_ranking = #{authorRanking,jdbcType=INTEGER}
    where result_id = #{resultId,jdbcType=BIGINT}
  </update>
</mapper>